<h2> Table of Comparison Operators </h2><p>  In the table below, a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

## Chaining of comparison operators

In [1]:
a = 5
b = 6
c = 7

In [2]:
a < b

True

In [3]:
a < c

True

## Logical Operators
- **and** : True if all are True
- **or** : True if at least one is True
- **not** : Opposite

In [4]:
a < b and a < c

True

In [5]:
a < b and a > c

False

In [6]:
1 < 2 and 3 < 4 and 5 < 6            # True and True and True

True

In [7]:
1 < 2 and 3 > 4 and 5 < 6           # True and False and True

False

In [8]:
1 < 2 or 3 > 4 or 5 < 6            # True or False or True

True

In [9]:
1 < 2 or 3 > 4 or 5 > 6            # True or False or True

True

In [10]:
1 > 2 or 3 > 4 or 5 > 6            # False or False or False

False

In [11]:
not 1 < 2

False

In [12]:
not True

False

In [13]:
not False

True

In [15]:
1 > 2 and 3 > 4 or 5 < 6
# False and False or True
# False or True

True

In [18]:
1 > 2 or 3 < 5 and 6 > 8 and 9 > 7 or 6 < 5 and 6 > 4

False

In [21]:
# Correct Username and Password (Utkarsh 1234)
username = input('Enter the username : ')
password = int(input('Enter the password : '))

username == 'Utkarsh' and password == 1234

Enter the username : Utkarsh
Enter the password : 12345

False

---
---
# Conditional Statements
- if
- if else
- if elif else
- nested if else

In [22]:
# Take marks of a student out of 100 as input and print pass if marks are above 50
marks = int(input('Enter the marks : '))

if marks > 50:
    print('The student has passed the exam')

Enter the marks : 90
The student has passed the exam

In [23]:
marks = int(input('Enter the marks : '))

if marks > 50:
    print('The student has passed the exam')

Enter the marks : 40

In [24]:
# Indentation
if True:
    print('Inside if block')
    print('Hello everyone')
    print('Good evening')
print('Outside if block')

Inside if block
Hello everyone
Good evening
Outside if block

In [27]:
if False:
    print('Inside if block')
    print('Hello everyone')
    print('Good evening')
print('Outside if block')

Outside if block

In [30]:
# Take marks of a student asd input , print passed if marks are above 50 else print failed
marks = int(input('Enter the marks : '))

if marks > 50:
    print('The student has passed the exam')
else:
    print('The student has failed the exam')

Enter the marks : 90
The student has passed the exam

In [31]:
marks = int(input('Enter the marks : '))

if marks > 50:
    print('The student has passed the exam')
else:
    print('The student has failed the exam')

Enter the marks : 40
The student has failed the exam

In [32]:
# Assume correct username and password to be Utkarsh and 1234
# Take username and password as input, print access granted if they are correct else access denied

username = input('Enter the username : ')
password = int(input('Enter the password : '))

if username == 'Utkarsh' and password == 1234:
    print('Access Granted')
else:
    print('Access Denied')

Enter the username : Utkarsh
Enter the password : 1234
Access Granted

In [34]:
username = input('Enter the username : ')
password = int(input('Enter the password : '))

if username == 'Utkarsh' and password == 1234:
    print('Access Granted')
else:
    print('Access Denied')

Enter the username : Utkarsh
Enter the password : 12345
Access Denied

In [36]:
# Take scores of two students out of 100 and print the high scorer
amit = int(input('Enter marks scored by Amit : '))
aman = int(input('Enter marks scored by Aman : '))

if amit > aman:
    print('Amit has scored higher marks : ', amit)
else:
    print('Aman has scored higher marks : ', aman)

Enter marks scored by Amit : 80
Enter marks scored by Aman : 90
Aman has scored higher marks :  90

In [39]:
# Take scores of two students out of 100 and print the high scorer
amit = int(input('Enter marks scored by Amit : '))
aman = int(input('Enter marks scored by Aman : '))

if amit > aman:
    print('Amit has scored higher marks : ', amit)
elif aman > amit:
    print('Aman has scored higher marks : ', aman)
else:
    print('Aman and Amit have both scored equal marks : ', aman)

Enter marks scored by Amit : 90
Enter marks scored by Aman : 90
Aman and Amit have both scored equal marks :  90

In [43]:
name = input('Who is this : ')

if name == 'Surajit':
    print('Welcome Surajit')
elif name == 'Vaibhav':
    print('Welcome Vaibhav')
elif name == 'Sunny':
    print('Welcome Sunny')
elif name == 'Akansha':
    print('Welcome Akansha')
else:
    print('Go back , You are not invited')

Who is this : Utkarsh
Go back , You are not invited

In [45]:
# Take a number as input and check if it is even or odd
num = int(input('Enetr the number : '))
if num % 2 == 0:
    print('The number is even : ', num)
else:
    print('The number is odd : ', num)

Enetr the number : 7
The number is odd :  7

In [49]:
# Take two numbers and an operator(+,-,/,*) as input and perform the operation as per the operator
num1 = int(input('Enter the number 1 : '))
num2 = int(input('Enter the number 2 : '))
op = input('Enter the operator(+,-,/,*) : ')

if op == '+':
    print('The sum is : ', num1 + num2)
elif op == '-':
    print('The differece is : ', num1 - num2)
elif op == '*':
    print('The product is : ', num1 * num2)
elif op == '/':
    print('The quotient is : ', num1 / num2)
else:
    print('Invalid operator')

Enter the number 1 : 10
Enter the number 2 : 5
Enter the operator(+,-,/,*) : /
The quotient is :  2.0

In [1]:
# Take marks of two students in 5 subjects (as a list) and find the highest scorer
marks_aman = list(map(int, input('Enter marks of Aman in 5 subjects(Separated by spaces) : ').split()))
marks_amit = list(map(int, input('Enter marks of Amit in 5 subjects(separated by spaces) : ').split()))

aman_total = sum(marks_aman)
amit_total = sum(marks_amit)

print('Total marks scored by aman : ', aman_total)
print('Total marks scored by amit : ', amit_total)

if aman_total > amit_total:
    print('Aman has scored higher than Amit')
elif aman_total < amit_total:
    print('Amit has scored higher than Aman')
else:
    print('Both Aman and Amit have the same score')

Enter marks of Aman in 5 subjects(Separated by spaces) : 80 84 86 94 92
Enter marks of Amit in 5 subjects(separated by spaces) : 90 82 94 98 81
Total marks scored by aman :  436
Total marks scored by amit :  445
Amit has scored higher than Aman

In [3]:
# Take marks of three students as input and find the highest scorer

aman = int(input('Enter marks scored by aman : '))
amit = int(input('Enter marks scored by amit : '))
anil = int(input('Enter marks scored by anul : '))

if aman > amit and aman > anil:
    print('Aman has scored highest marks : ', aman)
elif amit > anil:
    print('Amit has scored highest marks : ', amit)
else:
    print('Anil has scored highest marks : ', anil)

Enter marks scored by aman : 50
Enter marks scored by amit : 50
Enter marks scored by anul : 10
Amit has scored highest marks :  50

In [4]:
# Given a dictionary containing valid usernames and passwords take username and password as input from the user
# print access granted if credentials are correct else print access denied
database = {'Tom' : 1234, 'Bob' : 3456, 'John' : 5678}

username = input('Enter the username : ')
password = int(input('Enter the password : '))

if username == 'Tom' and password == 1234:
    print('Access Granted')
elif username == 'Bob' and password == 3456:
    print('Access Granted')
elif username == 'John' and password == 5678:
    print('Access Granted')
else:
    print('Access Denied')

Enter the username : Tom
Enter the password : 1234
Access Granted

In [9]:
data = {'Tom' : 1234, 'Bob' : 3456, 'John' : 5678, 'Larry' : 6789, 'Harry' : 7890}

username = input('Enter the username : ')
password = int(input('Enter the password : '))

if username in data.keys() and password == data[username]:
    print('Access Granted')
else:
    print('Access Denied')

Enter the username : Larry
Enter the password : 2345
Access Denied

In [13]:
# nested if else
data = {'Tom' : 1234, 'Bob' : 3456, 'John' : 5678, 'Larry' : 6789, 'Harry' : 7890}

username = input('Enter the username : ')

if username in data.keys():
    password = int(input('Enter the password : '))
    if password == data[username]:
        print('Access Granted')
else:
    print('Access Denied')

Enter the username : Tom
Enter the password : 1234
Access Granted

In [16]:
# Consider the question above, print incorrect username if username is incorrect and incorrect password if password
data = {'Tom' : 1234, 'Bob' : 3456, 'John' : 5678, 'Larry' : 6789, 'Harry' : 7890}

username = input('Enter the username : ')

if username in data.keys():
    password = int(input('Enter the password : '))
    if password == data[username]:
        print('Access Granted')
    else:
        print('Incorrect Password')
else:
    print('Incorrect Username')

Enter the username : Tom
Enter the password : 123456
Incorrect Password

In [3]:
# Find largest among three numbers using nested if else
a,b,c = list(map(int, input('Enter the three numbers(separated by space) : ').split()))

if a > b:
    if a > c:
        print(a, 'is largest')
    else:
        print(c, 'is largest')
else:
    if b > c:
        print(b, 'is largest')
    else:
        print(c, 'is largest')

Enter the three numbers(separated by space) : 6 4 3
6 is largest

In [6]:
# Find second largest among three numbers
a,b,c = list(map(int, input('Enter the three numbers(separated by space) : ').split()))

if a > b and a > c:
    if b > c:
        print(b, 'is second largest')
    else:
        print(c, 'is second largest')
elif b > c:
    if a > c:
        print(a, 'is second largest')
    else:
        print(c, 'is second largest')
else:
    if a > b:
        print(a, 'is second largest')
    else:
        print(b, 'is second largest')

Enter the three numbers(separated by space) : 30 20 10
20 is second largest