# Functions
- What is a function?
- Advantages and Use of functions
- Inbuilt and User defined functions
- How to create a function
- Parameters and Arguments
- Return statement
- Default parameters
- Positional and Keyword arguments
- Args and Kwargs

## What is a function?
- Function is a group of statements that performs a specific task.
- A function is a collection of statements grouped together that performs an operation. When you call the *random.randint(a, b)* function, for example, the system actually executes the statements in the function and returns the result.

## Advantages of Functions:

- Makes your code more organized and manageable.
- Ensures resuability avoids code redundency.

## Types of Functions
- Inbuilt Functions
- User Defined Functions

In [12]:
'''
Function Syntax : 
def function_name(argument1, argument2......):
    statement1
    statement2
    statement3
    ..........
    return result
'''

# Function without parameters
def hello():
    print('Hello')
    print('Good evening')
    print('Welcome to the session')

In [13]:
# Calling a function
hello()

Hello
Good evening
Welcome to the session

In [15]:
# Function with parameters
def greet(name):
    print('Hello', name)
    print('How are you?')

In [16]:
greet('Utkarsh')

Hello Utkarsh
How are you?

In [9]:
# Function with parameters which returns a result
def add(a,b):
    result = a + b
    return result

In [18]:
result = add(100,20)
result

120

In [20]:
# Without function
num = int(input('Enter the number : '))
if num % 2 == 0:
    print('The number is even : ', num)
else:
    print('The number is odd : ', num)
    
num = int(input('Enter the number : '))
if num % 2 == 0:
    print('The number is even : ', num)
else:
    print('The number is odd : ', num)
    
num = int(input('Enter the number : '))
if num % 2 == 0:
    print('The number is even : ', num)
else:
    print('The number is odd : ', num)

Enter the number : 10
The number is even :  10
Enter the number : 11
The number is odd :  11
Enter the number : 5
The number is odd :  5

In [21]:
def even_odd(num):
    if num % 2 == 0:
        print('The number is even : ', num)
    else:
        print('The number is odd : ', num)

In [22]:
# With functions
num = int(input('Enter the number : '))
even_odd(num)
num = int(input('Enter the number : '))
even_odd(num)
num = int(input('Enter the number : '))
even_odd(num)

Enter the number : 10
The number is even :  10
Enter the number : 11
The number is odd :  11
Enter the number : 5
The number is odd :  5

In [23]:
# Create a function that takes marks of two students and prints the high scorer
def high_score(stud1, stud2):
    if stud1 > stud2:
        print('Student 1 has scored higher : ', stud1)
    else:
        print('Student 2 has scored higher : ', stud2)

In [25]:
student1 = int(input('Enter the marks of student1 : '))
student2 = int(input('Enter the marks of student2 : '))
high_score(student1, student2)

Enter the marks of two students : 90 95
Student 2 has scored higher :  95

In [26]:
# Create a function that takes principal amount, rate, duration and returns the simple interest 
def simple_interest(p_amount, rate, years):
    interest = (p_amount*rate*years) / 100
    return interest

In [28]:
interest = simple_interest(100000,10,5)
interest

50000.0

In [29]:
interest = simple_interest(200000,10,7)
interest

140000.0

In [30]:
interest = simple_interest(300000,5,9.5)
interest

142500.0

In [2]:
# Write a program which takes marks of a student(out of 100) in three subjects and returns the percentage score
sub1 = int(input('Enter marks in subject 1 : '))
sub2 = int(input('Enter marks in subject 2 : '))
sub3 = int(input('Enter marks in subject 3 : '))

percentage = (sub1 + sub2 + sub3) / 300 * 100
print('The percentage score is : ', percentage)

Enter marks in subject 1 : 90
Enter marks in subject 2 : 96
Enter marks in subject 3 : 92
The percentage score is :  92.66666666666666

In [3]:
# Create a function which takes marks of a student(out of 100) in three subjects and returns the percentage score
def calc_percentage(sub1, sub2, sub3):
    percentage = (sub1 + sub2 + sub3) / 300 * 100
    return percentage

In [8]:
calc_percentage(90,80,85)

85.0

In [13]:
# Create a function which takes three numbers and prints the largest
def largest3(a,b,c):
    if a > b and a > c:
        print(a, 'is the largest number')
    elif b > c:
        print(b, 'is the largest number')
    else:
        print(c, 'is the largest number')

In [16]:
largest3(60,70,50)

70 is the largest number

In [28]:
# Create a function which takes three numbers and return the largest
def largest3(a,b,c):
    if a > b and a > c:
        return a
    elif b > c:
        return b
    else:
        return c

In [29]:
largest3(20,40,30)

40

In [26]:
# Create a function that takes a list and a number and returns True if the number is present in the list otherwise False
def check_num(numbers, x):
    for i in numbers:
        if i == x:
            return True
    else:
        return False

In [27]:
check_num([1,2,3,4,5,6,7,8,9], 8)

True

In [32]:
# Create a function which takes a number and prints prime if it is prime and not prime otherwise
def check_prime(num):
    if num < 2:
        print(num, 'is not a prime number')
    else:
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                print(num, 'is not a prime number')
                break
        else:
            print(num, 'is a prime number')

In [37]:
check_prime(17)

True

In [1]:
# Create a function which takes a number and returns True if it is prime and false otherwise
def check_prime(num):
    if num < 2:
        return False
    else:
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                return False
        else:
            return True
check_prime(13)

True

In [2]:
# Create a function that takes a list and returns a dictionary having elements as keys and their frequency as values
def calc_freq(l):
    freq = {}
    for i in l:
        if i in freq.keys():
            freq[i] += 1
        else:
            freq[i] = 1  
    return freq

calc_freq([1,2,3,2,1,2,3,2,1,2,2,3,2])

{1: 3, 2: 7, 3: 3}

---
# Positional Arguments and Keyword Arguments

In [38]:
def details(name, age, city):
    print('The details are : ')
    print('Name : ', name)
    print('Age  : ', age)
    print('City : ', city)

In [39]:
details('Arun', 45, 'Kolkata')                                   # Positional Arguments

The details are :
Name :  Arun
Age  :  45
City :  Kolkata

In [40]:
details(name = 'Arun', age = 45, city = 'Kolkata')              # Keyword arguments

The details are :
Name :  Arun
Age  :  45
City :  Kolkata

In [41]:
details(age = 45, city = 'Kolkata', name = 'Arun')

The details are :
Name :  Arun
Age  :  45
City :  Kolkata

In [42]:
details(45, 'Kolkata', 'Arun')

The details are :
Name :  45
Age  :  Kolkata
City :  Arun

---
---
# Default Parameters

In [43]:
s = 'Hello Everyone'
s.split()                   # default is ' '  (whitespace)

['Hello', 'Everyone']

In [44]:
s.split('o')

['Hell', ' Every', 'ne']

In [45]:
def divide(num1, num2):
    return num1 / num2

In [46]:
divide(20,5)

4.0

In [47]:
divide(20)

TypeError: divide() missing 1 required positional argument: 'num2'

In [48]:
# If the argument for default parameter is provided that is considered, if not the default value is considered
def divide(num1, num2 = 1):
    return num1 / num2

In [49]:
divide(20,5)

4.0

In [50]:
divide(20)

20.0

In [51]:
# A parameter with default value can not appear before a parameter without default value
def divide(num1 = 1, num2):
    return num1 / num2

SyntaxError: non-default argument follows default argument (<ipython-input-51-0f17acdd7e4b>, line 1)

In [52]:
def divide(num1 = 1, num2 = 1):
    return num1/num2

In [54]:
divide()

0.1

In [55]:
divide(10)

10.0

In [56]:
divide(num2 = 10)

0.1

---
---
# Variable arguments (args) and Variable keyword arguments (Kwargs)

In [1]:
def add(num1, num2):
    return num1 + num2

In [2]:
add(2,3)

5

In [3]:
add(2,3,4)

TypeError: add() takes 2 positional arguments but 3 were given

In [4]:
# Variable arguments (args)
def abc(*args):
    print(args)
    print(type(args))
    
abc(2,3,4,5)

(2, 3, 4, 5)
<class 'tuple'>

In [5]:
def add(*nums):
    result = sum(nums)
    return result

In [6]:
add(2,3)

5

In [7]:
add(2,3,4)

9

In [8]:
add(2,4,5,1,2,7,8,9,0,4,5,6,7,8)

68

In [9]:
# Variable keyword arguments (kwargs)
def abc(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
abc(name = 'babulal', age = 50)

{'name': 'babulal', 'age': 50}
<class 'dict'>

In [10]:
def show(**details):
    print('The details are : ')
    for key,value in details.items():
        print(key, ' : ', value)

In [12]:
show(name = 'Babulal')

The details are :
name  :  Babulal

In [14]:
show(name = 'Babulal', age = 50, city = 'Jodhpur')

The details are :
name  :  Babulal
age  :  50
city  :  Jodhpur

In [15]:
# Create a function which takes a string and returns the longest word
def longest_word(s):
    words = s.split()
    longest = words[0]
    for word in words:
        if len(word) > len(longest):
            longest = word
            
    return longest

In [16]:
longest_word('I am crime master gogo and i love watching pogo')

'watching'

In [18]:
longest_word('All of you need revision and more practice')

'revision'